/* 

primario: #D80B63 , light #ff5690 , dark: #a00039

secundario: #3e2992 , light #7153c3 , dark #000163

#D90D62 ???

fonts: 300, 500, 600

*/

body{
    margin: 0;
    background: #d80b63;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    color: #000163;
}

.hero{
    display: flex;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
}

#mex {
    opacity: 2;
}

.player {
    display: flex;
    flex-flow: column;
    flex-basis: 40%;
    order: 0;
}

.player p{
    padding: 10px;
    font-size: 18px;
    font-weight: 300;
}

.loguito{
    flex-basis: 30%;
    text-align: center;
    order: 1;
}

#humor{
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}
.description{
    height: 40vh;
    padding-bottom: 50px;
    display: flex;
    font-size: 1.5rem;
}
.description div{
    min-width: 7.5%;
}

#carrousel{
    background: #ff5690;
    
}
.titulo{
    font-size: 2rem;
    font-weight: 300;
    padding: 20px;
    text-align: center;
}

.episodios{
    display: flex;
    flex-flow: nowrap;
    gap: 0.5rem;
    width: 100%;
    padding: 20px;
    overflow-x: auto;
    white-space: nowrap;
}

iframe{
    min-width: 35vw;
    opacity: 0.8;
}

iframe:hover{
    opacity: 1;
}
@media (max-width: 48rem) {

    body{
        max-width: 100vh;
        padding: 20px;
    }

    .hero {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
    }
    .loguito{
        order: 0;
        min-width: 100%;
        height: 400px;
    }
    div{
        min-height: 20px;
    }
    .player{
        margin-top: 25px;
        order: 1;
        height: auto;
    }
    .description{
        min-height: 400px;
        justify-content: center;
        margin-top: 5vh;
    }
    iframe{
        min-width: 300px;
    }
    #carrousel{
        min-width: 100%;
        margin-top: 20px;
    }
}
